In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("employee.csv")

In [4]:
df.head()

  Emp ID\tName Prefix\tFirst Name\tMiddle Initial\tLast Name\tGender\tE Mail\tFather's Name\tMother's Name\tMother's Maiden Name\tDate of Birth\tTime of Birth\tAge in Yrs.\tWeight in Kgs.\tDate of Joining\tQuarter of Joining\tHalf of Joining\tYear of Joining\tMonth of Joining\tMonth Name of Joining\tShort Month\tDay of Joining\tDOW of Joining\tShort DOW\tAge in Company (Years)\tSalary\tLast % Hike\tSSN\tPhone No. \tPlace Name\tCounty\tCity\tState\tZip\tRegion\tUser Name\tPassword
0  850297\tMs.\tShawna\tW\tBuck\tF\tshawna.buck@g...
1  304721\tMr.\tNathaniel\tZ\tBurke\tM\tnathaniel...
2  412317\tDrs.\tElisabeth\tW\tFoster\tF\telisabe...
3  621375\tMrs.\tBriana\tC\tLancaster\tF\tbriana....
4  787549\tHon.\tEstella\tL\tPotter\tF\testella.p...

In [5]:
df.tail()

    Emp ID\tName Prefix\tFirst Name\tMiddle Initial\tLast Name\tGender\tE Mail\tFather's Name\tMother's Name\tMother's Maiden Name\tDate of Birth\tTime of Birth\tAge in Yrs.\tWeight in Kgs.\tDate of Joining\tQuarter of Joining\tHalf of Joining\tYear of Joining\tMonth of Joining\tMonth Name of Joining\tShort Month\tDay of Joining\tDOW of Joining\tShort DOW\tAge in Company (Years)\tSalary\tLast % Hike\tSSN\tPhone No. \tPlace Name\tCounty\tCity\tState\tZip\tRegion\tUser Name\tPassword
995  568435\tMs.\tBonnie\tK\tBaker\tF\tbonnie.baker...
996  597409\tMr.\tLuke\tS\tTurner\tM\tluke.turner@c...
997  359608\tHon.\tEva\tS\tHolman\tF\teva.holman@ho...
998  803426\tMrs.\tMaritza\tH\tChristian\tF\tmaritz...
999  669618\tDrs.\tPhyllis\tH\tDudley\tF\tphyllis.d...

In [6]:
df.columns

Index(['Emp ID\tName Prefix\tFirst Name\tMiddle Initial\tLast Name\tGender\tE Mail\tFather's Name\tMother's Name\tMother's Maiden Name\tDate of Birth\tTime of Birth\tAge in Yrs.\tWeight in Kgs.\tDate of Joining\tQuarter of Joining\tHalf of Joining\tYear of Joining\tMonth of Joining\tMonth Name of Joining\tShort Month\tDay of Joining\tDOW of Joining\tShort DOW\tAge in Company (Years)\tSalary\tLast % Hike\tSSN\tPhone No. \tPlace Name\tCounty\tCity\tState\tZip\tRegion\tUser Name\tPassword'], dtype='object')

In [7]:
df.info

<bound method DataFrame.info of     Emp ID\tName Prefix\tFirst Name\tMiddle Initial\tLast Name\tGender\tE Mail\tFather's Name\tMother's Name\tMother's Maiden Name\tDate of Birth\tTime of Birth\tAge in Yrs.\tWeight in Kgs.\tDate of Joining\tQuarter of Joining\tHalf of Joining\tYear of Joining\tMonth of Joining\tMonth Name of Joining\tShort Month\tDay of Joining\tDOW of Joining\tShort DOW\tAge in Company (Years)\tSalary\tLast % Hike\tSSN\tPhone No. \tPlace Name\tCounty\tCity\tState\tZip\tRegion\tUser Name\tPassword
0    850297\tMs.\tShawna\tW\tBuck\tF\tshawna.buck@g...
1    304721\tMr.\tNathaniel\tZ\tBurke\tM\tnathaniel...
2    412317\tDrs.\tElisabeth\tW\tFoster\tF\telisabe...
3    621375\tMrs.\tBriana\tC\tLancaster\tF\tbriana....
4    787549\tHon.\tEstella\tL\tPotter\tF\testella.p...
..                                                 ...
995  568435\tMs.\tBonnie\tK\tBaker\tF\tbonnie.baker...
996  597409\tMr.\tLuke\tS\tTurner\tM\tluke.turner@c...
997  359608\tHon.\tEva\tS\tHolman\tF\teva.holman@ho...
998  803426\tMrs.\tMaritza\tH\tChristian\tF\tmaritz...
999  669618\tDrs.\tPhyllis\tH\tDudley\tF\tphyllis.d...

[1000 rows x 1 columns]>

In [8]:
df.describe()

       Emp ID\tName Prefix\tFirst Name\tMiddle Initial\tLast Name\tGender\tE Mail\tFather's Name\tMother's Name\tMother's Maiden Name\tDate of Birth\tTime of Birth\tAge in Yrs.\tWeight in Kgs.\tDate of Joining\tQuarter of Joining\tHalf of Joining\tYear of Joining\tMonth of Joining\tMonth Name of Joining\tShort Month\tDay of Joining\tDOW of Joining\tShort DOW\tAge in Company (Years)\tSalary\tLast % Hike\tSSN\tPhone No. \tPlace Name\tCounty\tCity\tState\tZip\tRegion\tUser Name\tPassword
count                                                1000
unique                                               1000
top     415004\tMs.\tRosa\tP\tCamacho\tF\trosa.camacho...
freq                                                    1

In [9]:
df.isnull().sum()

Emp ID\tName Prefix\tFirst Name\tMiddle Initial\tLast Name\tGender\tE Mail\tFather's Name\tMother's Name\tMother's Maiden Name\tDate of Birth\tTime of Birth\tAge in Yrs.\tWeight in Kgs.\tDate of Joining\tQuarter of Joining\tHalf of Joining\tYear of Joining\tMonth of Joining\tMonth Name of Joining\tShort Month\tDay of Joining\tDOW of Joining\tShort DOW\tAge in Company (Years)\tSalary\tLast % Hike\tSSN\tPhone No. \tPlace Name\tCounty\tCity\tState\tZip\tRegion\tUser Name\tPassword    0
dtype: int64

In [12]:
import seaborn as sn
import numpy as np
import matplotlib.pyplot as plt

In [14]:
sn.scatterplot(df['Emp ID'])

KeyError: 'Emp ID'